.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

#country-info {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

#country-info h2 {
    margin-top: 0;
}

#country-info img {
    max-width: 100%;
}

#refresh-btn {
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #292a29;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
